<template>
  <div>
    <p class="decode-result">
      Last result: <b>{{ result }}</b>
    </p>

    <div v-if="isCameraAvailable" class="wrapper">
      <qrcode-stream @decode="onDecode" @init="onInit" />
			<p class="error">{{ errorMessage }}</p>
    </div>

    <div v-else class="wrapper">
			<qrcode-capture @decode="onDecode" />
    </div>
  </div>
</template>

<script>
import { QrcodeStream, QrcodeCapture } from "vue-qrcode-reader";

export default {
  name: "HelloWorld",
  components: {
    QrcodeStream,
    QrcodeCapture,
  },

  data() {
    return {
      result: "",
      error: false,
      errorMessage: "",
    };
  },

  methods: {
    onDecode(result) {
      this.result = result;
    },

    async onInit(promise) {
      try {
        await promise;
        this.error = false;
      } catch (error) {
        this.error = true;

        if (error.name === "NotAllowedError") {
          this.errorMessage = "ERROR: you need to grant camera access permisson";
        } else if (error.name === "NotFoundError") {
          this.errorMessage = "ERROR: no camera on this device";
        } else if (error.name === "NotSupportedError") {
          this.errorMessage = "ERROR: secure context required (HTTPS, localhost)";
        } else if (error.name === "NotReadableError") {
          this.errorMessage = "ERROR: is the camera already in use?";
        } else if (error.name === "OverconstrainedError") {
          this.errorMessage = "ERROR: installed cameras are not suitable";
        } else if (error.name === "StreamApiNotSupportedError") {
          this.errorMessage = "ERROR: Stream API is not supported in this browser";
        } else if (error.name === "InsecureContextError") {
          this.errorMessage = "ERROR: camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.";
        }
      }
    },
  },
  computed: {
    isRTCPeerConnectionSupported() {
      return (
        typeof RTCPeerConnection !== "undefined" ||
        typeof webkitRTCPeerConnection !== "undefined" ||
        typeof mozRTCPeerConnection !== "undefined"
      );
    },
    isGetUserMediaSupported() {
      return (
        !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) ||
        !!navigator.getUserMedia ||
        !!navigator.webkitGetUserMedia ||
        !!navigator.mozGetUserMedia
      );
    },
    isWebRTCSupported() {
      return this.isGetUserMediaSupported && this.isRTCPeerConnectionSupported;
    },
    isCameraAvailable() {
      return this.isWebRTCSupported && !this.error;
    },
  },
};
</script>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
.wrapper {
  width: 500px;
  height: 500px;
}
</style>

